<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ragtag.X10.model.dao.UserQuestionRecordDao">
    <!-- 유저 퀴즈 결과 입력 -->
    <insert id="createUserQuestionRecord" parameterType="UserQuestionRecord">
        INSERT INTO UserQuestionRecord (`questionId`, `userId`, `isCorrect`, `recordTime`)
        VALUES (#{questionId}, #{userId}, #{isCorrect}, #{recordTime})
    </insert>

    <!-- 유저 퀴즈 결과 조회 -->
    <select id="readUserQuestionRecord" resultType="UserQuestionRecord">
        SELECT userId, questionId, isCorrect, recordTime, questionType,
               @roundNumber := CASE WHEN @prevTime = recordTime THEN @roundNumber ELSE @roundNumber + 1 END AS roundNumber,
               @prevTime := recordTime AS dummy
        FROM (SELECT qr.*, q.questionType
              FROM question q
              Inner join UserQuestionRecord qr on q.questionId = qr.questionId
              WHERE workbookId = #{workbookId} and userId = #{userId}) qr
        CROSS JOIN (SELECT @roundNumber := 0, @prevTime := '') AS vars
        ORDER BY userId, recordTime
    </select>

    <!--  유저 퀴즈 결과 수정  -->
    <update id="updateUserQuestionRecord" parameterType="UserQuestionRecord">
        UPDATE UserQuestionRecord
        SET isCorrect = #{isCorrect}, recordTime = now()
        WHERE questionId = #{questionId} AND userId = #{userId}
    </update>
</mapper>